body {
  font-family: Arial;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: rgb(0, 0, 0);
  color: white;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.banner {
  position: relative;
  height: 300px;
  background: rgb(0, 0, 0);
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
}

.boneco {
  position: absolute;
  right: 30px;
  bottom: 0;
  height: 420px;
}

.texto {
  z-index: 2;
}


.btn {
    background: linear-gradient(45deg, #000, #333);
  color: rgb(255, 251, 0);
  padding: 14px 30px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  border: 1px solid #000000;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
}

button {
  background: rgb(0, 0, 0);
  color: rgb(217, 255, 0);
  padding: 10px;
  border: none;
  cursor: pointer;
}

.mais-vendidos{
    text-align: center; 
}
.grid-categorias {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.categoria {
  text-align: center;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.categoria img {
  width: 100%;
  border-radius: 10px;
}

.categoria:hover {
  transform: scale(1.05);
}

    

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

footer{
    background: url("../rodape.png");
    padding: 30px 10px 10px 0;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    background-color: #ffffff;
}
.footerlogo{
    width: 150px;
}
.whatsapp{
    width: 15px;
      position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  cursor: pointer;
}
.whatsapp:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
.redes-sociais{
    width: 60px;
}
.redessc{
    text-align: center;
}

